@charset "UTF-8";

body {
	background-color: silver;
	font-family: sans-serif;
}

h1 {
	color: teal;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
}

dd,dt {
	margin-left: 0;
}

dt {
	margin-top: 0.5em;
}

dd {
	font-weight: bold;
}

.image-link {
	text-decoration: none;
}